



html, body{
    background-color: #302535;
    color: white;
    font-family:  Helvetica, Arial,sans-serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 70px;
    font-family: 'Courier New', Courier, monospace;
}

.counterButton{
    padding: 5px 12px;
    background-color: rgb(139, 116, 175);
    border-radius: 10px ;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: azure;
    border-style: ridge;
    
    
}

.counterButton:hover {
    background-color: #654e88;      /* cambia el color de fondo */
    color: white;                   /* cambia el color del texto */
    transform: scale(1.05);         /* agranda ligeramente el botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* agrega sombra */
    cursor: pointer;                /* cambia el cursor */
  }


.counterButton:active {
    transform: scale(0.95);
    box-shadow: none;
}
